
body{
    margin-top:40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: -100px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(163, 163, 163);
}

#logo{
    font-size: 60px;
}
nav{
    background-color: rgb(68, 67, 67);
    width: 100%;
    padding: 10px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: aqua;
    font-size: x-large;
    background-color: #3A3838;
    margin: 5px;
    border-radius: 10px;
}

nav ul li a:hover{
    color: black;
    background-color: aqua;
}

#news{
    background-color: rgb(192, 185, 185);
    padding: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

#welcome{
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-between;
    background-color: rgb(151, 255, 255);
    border-radius: 10px;
    align-items: center;
    font-size: xx-large;
    font-weight: 600;
}

#more_news{
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: rgb(192, 185, 185);
    border-radius: 10px;
}

#contact{
    background-color: #3A3838;
    border-radius: 10px;
    color: white;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#contact ul li{
    list-style-type: none;
}

#contact li a{
    padding: 20px;
    text-decoration: none;
    color: white;
}

#about_web li a:hover{
    
    background-color: white;
    color: black;
}